
<br><br>
<h1>Archer Portal</h1>

<mat-form-field class="mat-form-field1">
    <mat-label>Search Bar</mat-label>
    <input matInput placeholder="Search Bar">
  </mat-form-field>

  <br>
  <br>
  <br>
<mat-card class="example-card" (click)="Tabletitle(1)">
    <img src="./assets/incoming.png">
    <p style="color: grey;">incoming</p>
    <h1>{{Incoming}}</h1>
    <hr>
    <p style="float: left;"><img style="width: 20px; height: 20px;"  src="./assets/preview.png">&nbsp;Preview List</p>

  </mat-card>


  <mat-card class="example-card" (click)="Tabletitle(2)">
    <img src="./assets/packed.png">
    <p style="color: grey;">Packed</p>
    <h1>{{Incoming}}/{{Total}}</h1>
    <hr>
    <p style="float: left;"><img style="width: 20px; height: 20px;"  src="./assets/preview.png">&nbsp;Preview List</p>
  </mat-card>


  <mat-card class="example-card" (click)="Tabletitle(3)">
    
    <img src="./assets/issues.png">

    <p style="color: grey;">Issues</p>
    <h1>{{Incoming}}/{{Total}}</h1>
    <hr>
    <p style="float: left;"><img style="width: 20px; height: 20px;" src="./assets/preview.png">&nbsp;Preview List</p>
    
  </mat-card>

  <mat-card class="example-card" (click)="Tabletitle(4)">

    <img src="./assets/outdated.png">
    
    <p style="color: grey;">Outdated</p>
    <h1>{{Incoming}}</h1>
    <hr>
    <p style="float: left;"><img style="width: 20px; height: 20px;" src="./assets/preview.png">&nbsp;Preview List</p>
    

  </mat-card>

  <br>
  <br>
  <br><br><br><br><br><br><br><br><br>
  <button mat-raised-button>{{tabletitle}}</button>
  <br><br><br>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Order No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>


    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef >&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Actions </th>
        <td mat-cell *matCellDef="let element">
            <img style="border-radius: 20px;margin-inline-start: 1em;" (click)="showoptions(1)" src="./assets/successtik.png"> 
            <mat-form-field *ngIf="successtikflag" class="mat-form-field2" appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select  [(ngModel)]="successtik"  disableRipple>
                  
                <mat-option *ngFor="let value of successtikoption"  value={{value}}   >{{value}}</mat-option>
               
              </mat-select>
            </mat-form-field>

            <img style="border-radius: 20px;margin-inline-start: 1em;" (click)="showoptions(2)" src="./assets/crosstik.png">
            <mat-form-field  *ngIf="crosstikflag"  class="mat-form-field2" appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select  [(ngModel)]="crosstik"  disableRipple>
                  
                <mat-option *ngFor="let value of successtikoption"  value={{value}}   >{{value}}</mat-option>
               
              </mat-select>
            </mat-form-field>
            <img style="border-radius: 20px;margin-inline-start: 1em;" src="./assets/viewtik.png">
            <img style="border-radius: 20px;margin-inline-start: 1em;" src="./assets/printtik.png">
            
        </td>
            
        </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>