<br><br>
<h1>Menu Dashboard</h1>

<mat-form-field class="mat-form-field1">
    <mat-label>Search Bar</mat-label>
    <input matInput placeholder="Search Bar">
  </mat-form-field>

  <br>
  <br>
  <br>
  <mat-card class="example-card" >
   
    <p style="color: grey;">Active</p>
    <h1>{{Incoming}}</h1>
    <hr>

  </mat-card>


  <mat-card class="example-card" >
    <p style="color: grey;">Pause</p>
    <h1>{{Incoming}}/{{Total}}</h1>
    <hr>
  </mat-card>


  <mat-card class="example-card" >
    

    <p style="color: grey;">New</p>
    <h1>{{Incoming}}/{{Total}}</h1>
    <hr>
    
  </mat-card>