<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">

    <div>
    <br>
    <img style="width: 50px; height: 50px;float: left;margin-inline-start: 3em;" src="./assets/logo.png">
    <h1>Sample Pvt</h1>
    <br><br><br>
    <hr>  
  </div>
    
    
    <br>
    <br>
    <button mat-button >Dashboard</button>
    
    <br>
    <button mat-button >Order list</button>    
    
    <br>
    <button mat-button >Accounts</button>    
    
    <br>
    <button mat-button >Connect To Asquare</button>    
    <br>
    <button mat-button >Notification</button>
    <br>
    <button mat-button >Settings</button>

  
  </mat-sidenav>
  <mat-sidenav-content opened>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>